* text eol=lf

*.exe   binary
*.zip binary
*.gif binary
*.jpg binary
*.jpeg binary
*.png binary
*.7z binary
*.tar binary
*.ico binary
*.icns  binary
*.webp binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
*.br binary

